<footer class="footer">
    <div class="footer_content">
        <div class="footer_logoWrap">
            <a href="#" class="footer_logoLink no_link">
                <img class="footer_logo" src="~/assets/img/Logo_HX.png" alt="img_logo-footer">
                <div class="footer_nameCty no_link">CÔNG TY TNHH SX TM & DV HOA XINH</div>
            </a>
        </div>
        <div class="footer_info line_height">
            <div class="footer_info--title title">Liên hệ</div>
            <div class="footer_info--address">
                <svg class="footer_svg--address" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z" /></svg>
                <p>68 Nguyễn Huệ, Phường Sài Gòn, TP HCM</p>
            </div>
            <div class="footer_info--hotline">
                <svg class="footer_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M224.2 89C216.3 70.1 195.7 60.1 176.1 65.4L170.6 66.9C106 84.5 50.8 147.1 66.9 223.3C104 398.3 241.7 536 416.7 573.1C493 589.3 555.5 534 573.1 469.4L574.6 463.9C580 444.2 569.9 423.6 551.1 415.8L453.8 375.3C437.3 368.4 418.2 373.2 406.8 387.1L368.2 434.3C297.9 399.4 241.3 341 208.8 269.3L253 233.3C266.9 222 271.6 202.9 264.8 186.3L224.2 89z" /></svg>
                <p>08.1998.1900</p>
            </div>
            <div class="footer_email">
                <svg class="footer_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M125.4 128C91.5 128 64 155.5 64 189.4C64 190.3 64 191.1 64.1 192L64 192L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 192L575.9 192C575.9 191.1 576 190.3 576 189.4C576 155.5 548.5 128 514.6 128L125.4 128zM528 256.3L528 448C528 456.8 520.8 464 512 464L128 464C119.2 464 112 456.8 112 448L112 256.3L266.8 373.7C298.2 397.6 341.7 397.6 373.2 373.7L528 256.3zM112 189.4C112 182 118 176 125.4 176L514.6 176C522 176 528 182 528 189.4C528 193.6 526 197.6 522.7 200.1L344.2 335.5C329.9 346.3 310.1 346.3 295.8 335.5L117.3 200.1C114 197.6 112 193.6 112 189.4z" /></svg>
                <p>infor@hoaxinhgroup.vn</p>
            </div>
        </div>
        <div class="footer_time line_height">
            <div class="footer_time--title title">Giờ làm việc</div>
            <div class="footer_time--end">8:00 - 19:00 <br>Thứ 2 - Thứ 7</div>
        </div>
        <div class="footer_abouts line_height">
            <div class="footer_abous--title title">Về chúng tôi</div>
            <div class="footer_abouts--content">
                <a href="#Abouts" class="footer_about--link">Giới thiệu</a>
                <a href="#Products" class="footer_about--link">Sản phẩm</a>
                <a href="#Certificate" class="footer_about--link">Chứng nhận</a>
                <a asp-controller="Store" asp-action="TrackOrder" class="footer_about--link">Tra cứu đơn hàng</a>
            </div>
        </div>
        <div class="footer_policy line_height">
            <div class="footer_policy--title title">Chính Sách</div>
            <div class="footer_policy--content">
                <button type="button" class="footer_policy--link" data-policy-key="about">Về Chúng Tôi</button>
                <button type="button" class="footer_policy--link" data-policy-key="buy-guide">Hướng dẫn mua dẫn hàng</button>
                <button type="button" class="footer_policy--link" data-policy-key="payment">Chính sách thanh toán</button>
                <button type="button" class="footer_policy--link" data-policy-key="warranty">Chính sách bảo hành</button>
                <button type="button" class="footer_policy--link" data-policy-key="shipping">Chính sách giao nhận và vận chuyển</button>
                <button type="button" class="footer_policy--link" data-policy-key="refund">Chính sách đổi trả và hoàn tiền</button>
                <button type="button" class="footer_policy--link footer_policy--linkStrong" data-policy-key="privacy">Chính Sách Bảo Mật Thông Tin Cá Nhân</button>
            </div>
        </div>
    </div>

    <div class="footer_mobileAccordion">
        <div class="footer_mobileCard">
            <img class="footer_mobileLogo" src="~/assets/img/Logo_HX.png" alt="Hoa Xinh Store">
            <p class="footer_mobileName">Bạn cần tư vấn?</p>
            <a class="footer_mobilePhone" href="tel:0819981900">08 1998 1900</a>
            <div class="footer_mobileInfo">
                <p class="footer_mobileInfoRow">
                    <svg class="footer_svg--address" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z" /></svg>
                    <span>68 Nguyễn Huệ, Phường Sài Gòn, TP HCM</span>
                </p>
                <p class="footer_mobileInfoRow">
                    <svg class="footer_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M125.4 128C91.5 128 64 155.5 64 189.4C64 190.3 64 191.1 64.1 192L64 192L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 192L575.9 192C575.9 191.1 576 190.3 576 189.4C576 155.5 548.5 128 514.6 128L125.4 128zM528 256.3L528 448C528 456.8 520.8 464 512 464L128 464C119.2 464 112 456.8 112 448L112 256.3L266.8 373.7C298.2 397.6 341.7 397.6 373.2 373.7L528 256.3zM112 189.4C112 182 118 176 125.4 176L514.6 176C522 176 528 182 528 189.4C528 193.6 526 197.6 522.7 200.1L344.2 335.5C329.9 346.3 310.1 346.3 295.8 335.5L117.3 200.1C114 197.6 112 193.6 112 189.4z" /></svg>
                    <span>infor@hoaxinhgroup.vn</span>
                </p>
            </div>
        </div>

        <div class="footer_accItem">
            <button type="button" class="footer_accBtn">
                <span>Hỗ trợ</span>
                <svg class="footer_accIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M297.4 470.6C309.9 483.1 330.2 483.1 342.7 470.6L534.7 278.6C547.2 266.1 547.2 245.8 534.7 233.3C522.2 220.8 501.9 220.8 489.4 233.3L320 402.7L150.6 233.4C138.1 220.9 117.8 220.9 105.3 233.4C92.8 245.9 92.8 266.2 105.3 278.7L297.3 470.7z"/></svg>
            </button>
            <div class="footer_accPanel">
                <button type="button" class="footer_policy--link" data-policy-key="buy-guide">Hướng dẫn mua hàng</button>
                <button type="button" class="footer_policy--link" data-policy-key="shipping">Vận chuyển & giao hàng</button>
                <button type="button" class="footer_policy--link" data-policy-key="refund">Chính sách đổi trả</button>
            </div>
        </div>

        <div class="footer_accItem">
            <button type="button" class="footer_accBtn">
                <span>Dịch vụ</span>
                <svg class="footer_accIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M297.4 470.6C309.9 483.1 330.2 483.1 342.7 470.6L534.7 278.6C547.2 266.1 547.2 245.8 534.7 233.3C522.2 220.8 501.9 220.8 489.4 233.3L320 402.7L150.6 233.4C138.1 220.9 117.8 220.9 105.3 233.4C92.8 245.9 92.8 266.2 105.3 278.7L297.3 470.7z"/></svg>
            </button>
            <div class="footer_accPanel">
                <button type="button" class="footer_policy--link" data-policy-key="payment">Chính sách thanh toán</button>
                <button type="button" class="footer_policy--link" data-policy-key="warranty">Chính sách bảo hành</button>
                <button type="button" class="footer_policy--link" data-policy-key="privacy">Chính sách bảo mật</button>
            </div>
        </div>

        <div class="footer_accItem">
            <button type="button" class="footer_accBtn">
                <span>Trang website</span>
                <svg class="footer_accIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M297.4 470.6C309.9 483.1 330.2 483.1 342.7 470.6L534.7 278.6C547.2 266.1 547.2 245.8 534.7 233.3C522.2 220.8 501.9 220.8 489.4 233.3L320 402.7L150.6 233.4C138.1 220.9 117.8 220.9 105.3 233.4C92.8 245.9 92.8 266.2 105.3 278.7L297.3 470.7z"/></svg>
            </button>
            <div class="footer_accPanel">
                <a href="#Abouts" class="footer_about--link">Giới thiệu</a>
                <a href="#Products" class="footer_about--link">Sản phẩm</a>
                <a href="#Certificate" class="footer_about--link">Chứng nhận</a>
                <a asp-controller="Store" asp-action="TrackOrder" class="footer_about--link">Tra cứu đơn hàng</a>
            </div>
        </div>

        <div class="footer_accItem">
            <button type="button" class="footer_accBtn">
                <span>Giờ làm việc</span>
                <svg class="footer_accIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M297.4 470.6C309.9 483.1 330.2 483.1 342.7 470.6L534.7 278.6C547.2 266.1 547.2 245.8 534.7 233.3C522.2 220.8 501.9 220.8 489.4 233.3L320 402.7L150.6 233.4C138.1 220.9 117.8 220.9 105.3 233.4C92.8 245.9 92.8 266.2 105.3 278.7L297.3 470.7z"/></svg>
            </button>
            <div class="footer_accPanel">
                <p>8:00 - 19:00</p>
                <p>Thứ Hai - Thứ Bảy</p>
            </div>
        </div>
    </div>

    <div class="footer_end">
        <div class="footer_copyright">Copyright © HOA XINH STORE. All rights reserved. hosting by cafe24 corporation</div>
        <ul class="footer_platfom no_list">
            <li>Follow Us</li>
            <li class="footer_platfom--item">
                <a target="_blank" href="https://www.tiktok.com/%40hoaxinhstore.vn" class="footer_platfom--link">
                    <svg id="tiktok" class="logo_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M544.5 273.9C500.5 274 457.5 260.3 421.7 234.7L421.7 413.4C421.7 446.5 411.6 478.8 392.7 506C373.8 533.2 347.1 554 316.1 565.6C285.1 577.2 251.3 579.1 219.2 570.9C187.1 562.7 158.3 545 136.5 520.1C114.7 495.2 101.2 464.1 97.5 431.2C93.8 398.3 100.4 365.1 116.1 336C131.8 306.9 156.1 283.3 185.7 268.3C215.3 253.3 248.6 247.8 281.4 252.3L281.4 342.2C266.4 337.5 250.3 337.6 235.4 342.6C220.5 347.6 207.5 357.2 198.4 369.9C189.3 382.6 184.4 398 184.5 413.8C184.6 429.6 189.7 444.8 199 457.5C208.3 470.2 221.4 479.6 236.4 484.4C251.4 489.2 267.5 489.2 282.4 484.3C297.3 479.4 310.4 469.9 319.6 457.2C328.8 444.5 333.8 429.1 333.8 413.4L333.8 64L421.8 64C421.7 71.4 422.4 78.9 423.7 86.2C426.8 102.5 433.1 118.1 442.4 131.9C451.7 145.7 463.7 157.5 477.6 166.5C497.5 179.6 520.8 186.6 544.6 186.6L544.6 274z" /></svg>
                </a>
            </li>
            <li class="footer_platfom--item">
                <a target="_blank" href="https://www.facebook.com/HoaXinhStore" class="footer_platfom--link">
                    <svg id="facebook" class="logo_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M240 363.3L240 576L356 576L356 363.3L442.5 363.3L460.5 265.5L356 265.5L356 230.9C356 179.2 376.3 159.4 428.7 159.4C445 159.4 458.1 159.8 465.7 160.6L465.7 71.9C451.4 68 416.4 64 396.2 64C289.3 64 240 114.5 240 223.4L240 265.5L174 265.5L174 363.3L240 363.3z" /></svg>
                </a>
            </li>
            <li class="footer_platfom--item">
                <a target="_blank" href="https://shopee.vn/hoaxinhstore.vn?" class="footer_platfom--link">
                    <img src="https://cdn-0863.cafe24img.com/hoaxinhstore/img/icon_shopee.png" alt="" class="icon_platfom">
                </a>
            </li>
        </ul>
    </div>
</footer>

<div class="policy_popup" id="policyPopup">
    <div class="policy_popup--overlay"></div>
    <div class="policy_popup--dialog">
        <button type="button" class="policy_popup--close" aria-label="Đóng">×</button>
        <h3 class="policy_popup--title"></h3>
        <div class="policy_popup--body"></div>
        <a class="policy_popup--source" href="#" target="_blank" rel="noopener noreferrer">Xem nguồn tại hoaxinhstore.vn</a>
    </div>
</div>
